#elform{
	border-style:solid;
	border-color:white;
	border-width:1px;
	background-color:white;
	border-radius:10px;
	
	
}

body{
	background-color:#9DACFF;
	background-image:url(../img/fondo.png);
	
	background-repeat: repeat;
}
.logo{
	
}

.titulo{
	font-family: 'Berkshire Swash', cursive;
	color:#FF4116;
	font-size:50px;
	background-color:rgba(255, 255, 255, 0.5);
	border-radius:10px;
}

.huellaamor{
	width:150px;
	height:150px;
	
}

#filaregistro{
	margin-top:3%;
}

@media (max-width: 767.98px) { 
	.hidden-sm-down{
		display:none;
	}
 }

@media (max-width: 544px) { 
	.hidden-sm-down{
		display:none;
	}
	.hidden-xs-down{
		display:none;
	}
 }
